<div class="w-11/12 mx-auto bg-blue-100 py-4">
    <div class="mx-auto bg-white border border-blue-400 rounded p-4 px-12 w-11/12 sm:w-3/4 md:w-3/5 xl:w-3/5">
        <form action="">
            <div class="py-3 text-center text-2xl text-sky-500">
                <p>Formulario de Contacto</p>
            </div>
            <div class="message__bienvenida" *ngIf="bienvenido">
                <span>Gracias por comunicarte con nosotros</span>
            </div>

            <div class="formulario">
                <div class="form__group my-8">
                    <input type="text" id="name" class="form__input" placeholder=" ">
                    <label for="name" class="form__label">Nombre*</label>
                    <span class="form__line"></span>
                </div>
                <div class="form__group my-8">
                    <input type="text" id="correo" class="form__input" placeholder=" ">
                    <label for="correo" class="form__label">Email*</label>
                    <span class="form__line"></span>
                </div>
                <div class="form__group my-8">
                    <input type="text" id="phone" class="form__input" placeholder=" ">
                    <label for="phone" class="form__label">Teléfono*</label>
                    <span class="form__line"></span>
                </div>
                <div class="form__group my-8">
                    <input type="text" id="asunto" class="form__input" placeholder=" ">
                    <label for="asunto" class="form__label">Asunto*</label>
                    <span class="form__line"></span>
                </div>
                <div class="form__group my-8">
                    <input type="text" id="message" class="form__input" placeholder=" ">
                    <label for="message" class="form__label">Mensaje*</label>
                    <span class="form__line"></span>
                </div>
                <div class="boton">
                    <button class="form__submit" (click)="bienvenido = !bienvenido">Enviar</button>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- <div class="entradas my-3">
                <input type="text" name="" id="" placeholder=" ">
                <label class="lbl_nombre"><span class="text_nombre">Nombre*</span></label>
            </div>
            <div class="entradas my-3">
                <input type="text" name="" id="" placeholder=" ">
                <label class="lbl_nombre"><span class="text_nombre">Email*</span></label>
            </div>
            <div class="entradas my-3">
                <input type="text" name="" id="" placeholder=" " >
                <label class="lbl_nombre"><span class="text_nombre">Teléfono*</span></label>
            </div>
            <div class="entradas my-3">
                <input type="text" name="" id="" placeholder=" ">
                <label class="lbl_nombre"><span class="text_nombre">Asunto*</span></label>
            </div>
            <div class="entradas my-3">
                <input type="text" name="" id="" placeholder=" ">
                <label class="lbl_nombre"><span class="text_nombre">Mensaje</span></label>
            </div>
            <div class="text-center py-4">
                <button class=" py-1 px-6 rounded bg-blue-500 text-white" (click)="mensaje = !mensaje">Enviar</button>
            </div> -->