<div class="w-11/12 mx-auto bg-blue-100 py-4">
    <div class="mx-auto bg-white border border-blue-400 rounded p-4 px-12 w-11/12 sm:w-3/4 md:w-3/5 xl:w-3/5">
        <form action="">
            <div class="py-3 text-center text-2xl text-sky-500">
                <p>Formulario de Contacto</p>
            </div>
            <div class="entradas my-3">
                <input type="text" name="" id="" required>
                <label class="lbl_nombre"><span class="text_nombre">Nombre*</span></label>
            </div>
            <div class="entradas my-3">
                <input type="text" name="" id="" required>
                <label class="lbl_nombre"><span class="text_nombre">Email*</span></label>
            </div>
            <div class="entradas my-3">
                <input type="text" name="" id="" required>
                <label class="lbl_nombre"><span class="text_nombre">Teléfono*</span></label>
            </div>
            <div class="entradas my-3">
                <input type="text" name="" id="" required>
                <label class="lbl_nombre"><span class="text_nombre">Asunto*</span></label>
            </div>
            <div class="entradas my-3">
                <input type="text" name="" id="" required>
                <label class="lbl_nombre"><span class="text_nombre">Mensaje</span></label>
            </div>
            <div class="text-center py-4">
                <button class=" py-1 px-6 rounded bg-blue-500 text-white">Enviar</button>
            </div>
        </form>
    </div>
</div>